
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: black;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  nav a:hover {
    background-color: orange;
    color: #fff;
  }

  footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
  }

  footer p {
    color: white;
  }

  .main {
    background-color: #d3d3d3;
    flex: 1;
  }

  .divTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .divTop iframe {
    margin-top: 25px;
    transform: scale(0.8);
    width: 250px;
    height: 250px;
    border: 3px solid hotpink;
  }

  .divBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .imageContainer img {
    border: 2px solid black;
    border-radius: 8px;
    margin-right: 150px;
  }
  .anotherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .anotherContainer .tableContainer {
    width: 250px;
  }

  .tableContainer div {
    display: flex;
    align-items: flex-end;
    font-size: small;
    height: 50px;
  }

  #firstRow {
    background-color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
  }
  #secondRow {
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
    height: 60px;
  }
  #thirdRow {
    background-color: lightpink;
    font-family: cursive;
    height: 70px;
  }

  .buttonContainer {
    justify-content: center;
  }
  .buttonContainer button {
    margin-top: 20px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px 50px;
    cursor: pointer;
  }

  @media (max-width: 600px) {

    .divTop{
      margin-top: 10%;
    }
    .divTop, .divBottom {
      flex-direction: column;
      align-items: center;
    }

    .divTop iframe, .imageContainer img {
      margin: 0;
      width: 100%;
      height: auto;
    }

    .divBottom {
      height: auto;
    }

    .imageContainer img {
      margin: 0;
    }

    .anotherContainer .tableContainer {
      margin-top: 2%;
      width: 100%;
    }
  }
