.main, .productContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productContainer {
    flex-direction: column;
    border: 2px solid rgb(240, 99, 28);
    font-size: small;
    padding: 20px;
}

.productContainer div img {
    width: 150px;
    height: auto;
}

.productContainer div button {
    border: 0;
    background-color: orange;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
}