.main,
.productContainer,
.indexNavigationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexNavigationContainer {
    flex-direction: column;
    justify-content: space-between;
}

.indexNavigationContainer a:first-of-type {
    margin-top: 100px;
    margin-bottom: 25px;
}

.indexNavigationContainer h1 {
    top: 0;
    margin: 0;
    position: absolute;
    width: 70%;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.indexNavigation {
    font-size: x-large;
    text-decoration: none;
    border: 1px solid midnightblue;
    border-radius: 8px;
    padding: 10px;
    background-color: antiquewhite;
}

.indexNavigation:visited,
.indexNavigation:link {
    color: midnightblue;
}

.indexNavigation:hover {
    font-size: xx-large;
    color: cornflowerblue;
    background-color: greenyellow;
}

.productContainer {
    flex-direction: column;
    border: 2px solid rgb(240, 99, 28);
    font-size: small;
    padding: 20px;
    text-align: center;
}

.product {
    width: 150px;
    height: auto;
}

.productLarger {
    width: 300px;
}

.productContainer div button {
    border: 0;
    background-color: orange;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
}

.spacer {
    margin: 20px;
}

.spacerBottom {
    margin-bottom: 30px;
}

.modal {
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 51, 117, 0.72);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.modalSecond {
    background-color: rgba(68, 117, 0, 0.68);
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.modalContent {
    position: relative;
    background-color: orange;
    color: white;
}

.modalContentSecond {
    background-color: #aed8e6;
}

.modalContent h1 {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: lightpink;
}

.modalContent p {
    color: black;
    background-color: lightpink;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 95%;
    margin: auto;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.close {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal:target {
    opacity: 1;
    pointer-events: all;
}

.square2 {
    width: 100%;
    padding-bottom: 20%;
    /* Padding-bottom is set to a percentage of the width to make the square responsive */
}

.square-col {
    width: 30%;
    /* Each small square takes up 30% of the width of the flexbox container */
    height: 0;
    padding-top: 30%;
    /* Padding-top is set to a percentage of the width to make each square have equal height and width */
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* Include the border in the width of the square */
    margin: 0.75%;
    /* Add some margin to create a gap between the squares */
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-color: #eee;
}

.bigImage {
    background-image: url("https://images.unsplash.com/photo-1597589827317-4c6d6e0a90bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80");
    background-size: cover;
    position: relative;
}

.sq1 {
    background-image: url("https://images.unsplash.com/photo-1504600770771-fb03a6961d33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=882&q=80");
    background-size: cover;
    position: relative;
}

.sq2 {
    background-image: url("https://images.unsplash.com/photo-1495615080073-6b89c9839ce0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3F1YXJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    position: relative;
}

.sq3 {
    background-image: url("https://images.unsplash.com/photo-1525351326368-efbb5cb6814d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80");
    background-size: cover;
    position: relative;
}

.sq4 {
    background-image: url("https://images.unsplash.com/photo-1600354587397-681c16c184bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNxdWFyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
    position: relative;
}

.sq5 {
    background-image: url("https://images.unsplash.com/photo-1562376552-0d160a2f238d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNxdWFyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
    position: relative;
}

.sq6 {
    background-image: url("https://images.unsplash.com/photo-1617191519105-d07b98b10de6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80");
    background-size: cover;
    position: relative;
}

.sq7 {
    background-image: url("https://images.unsplash.com/photo-1592660716763-09efba6db4e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80");
    background-size: cover;
    position: relative;
}

.sq8 {
    background-image: url("https://images.unsplash.com/photo-1612392549296-c7623f23665a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTd8fHNxdWFyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
    position: relative;
}

.sq9 {
    background-image: url("https://plus.unsplash.com/premium_photo-1670349268554-07972baf7b69?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1081&q=80");
    background-size: cover;
    position: relative;
}