

.main,
.productContainer,
.indexNavigationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexNavigationContainer{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.indexNavigationContainer a{
margin: 25px;
}

.indexNavigationContainer h1 {
 width: 70%;
 padding: 20px;
 background-color: black;
 color: white;
 text-align: center;
}

.indexNavigation {
    font-size: x-large;
    text-decoration: none;
    border: 1px solid midnightblue;
    border-radius: 8px;
    padding: 10px ;
    background-color: antiquewhite;
}

.indexNavigation:visited, .indexNavigation:link{
    color: midnightblue;
}

.indexNavigation:hover{
    font-size: xx-large;
    color: cornflowerblue
}

.productContainer {
    flex-direction: column;
    border: 2px solid rgb(240, 99, 28);
    font-size: small;
    padding: 20px;
    text-align: center;
}

.product {
    width: 150px;
    height: auto;
}

.productLarger {
    width: 300px;
}

.productContainer div button {
    border: 0;
    background-color: orange;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
}

.spacer {
    margin: 20px;
}

.spacerBottom{
    margin-bottom: 30px;
}

.modal {
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 51, 117, 0.72);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.modalSecond {
    background-color: rgba(68, 117, 0, 0.68);
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.modalContent {
    position: relative;
    background-color: orange;
    color: white;
}

.modalContentSecond{
    background-color: #aed8e6;
}

.modalContent h1 {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: lightpink;
}

.modalContent p {
    color: black;
    background-color: lightpink;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 95%;
    margin: auto;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.close {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal:target {
    opacity: 1;
    pointer-events: all;
}