body {
    font-family: Arial, Helvetica, sans-serif;
}


body,
.bottomRowContainer {
    background-color: #e0e0e0;
}


.titleAreaContainer h1,
.titleAreaContainer h3,
#h4Score,
.startScreenContainer,
#midScreenInputText,
#loginUsername,
#loginPassword,
#signupUsername,
#signupPassword,
#signupConfirmPassword,
.you_won {
    text-align: center;
}


.titleAreaContainer h1,
.titleAreaContainer h3,
#h4Score {
    margin-bottom: 0;
}


.titleAreaContainer h1 {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.titleAreaContainer h3,
#h4HighScore {
    margin-top: 5px;
}


.middleAreaContainer,
.bottomRowContainer,
.startScreenContainer {
    box-shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.493);
}


.middleAreaContainer,
.topRowContainer,
.leftContainer,
.rightContainer,
.midRowContainer,
.startScreenContainer,
.bottomRowContainer {
    display: flex;
}

.leftContainer,
.rightContainer,
.startScreenContainer,
.bottomRowContainer {
    align-items: center;
    justify-content: center;
}

.middleAreaContainer,
.leftContainer,
.midRowContainer,
.startScreenContainer {
    flex-direction: column;
}


.midRowContainer {
    width: 80%;
    align-self: center;
}

.middleAreaContainer,
#midScreenInputText {
    background-color: #f7f7f7;
}

.middleAreaContainer {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    height: auto;
}

.middleAreaContainer,
.leftContainer,
.rightContainer h4,
.startScreenContainer,
#midScreenInputText,
#loginUsername,
#loginPassword,
#signupUsername,
#signupPassword,
#signupConfirmPassword,
.bottomRowContainer {
    border-radius: 15px;
}

#loginButton,
#signUpButton {
    border: none;
}

#midScreenCheckButton,
#loginButton,
#signUpButton {
    border-radius: 10px;
}


.topRowContainer {
    justify-content: space-between;
    padding: 10px;
}

.leftContainer,
.topRowContainer .rightContainer h4 {
    background-color: #a8d0e6;
}

.leftContainer,
.rightContainer h4,
#midScreenCheckButton,
#loginButton,
#signUpButton {
    padding-left: 15px;
    padding-right: 15px;
}

.topRowContainer .h4HighScore {
    margin-top: 5px;
}

.leftContainer,
.rightContainer h4 {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.rightContainer #h4Reset {
    padding-top: 15px;
    padding-bottom: 15px;
}

#midScreenCheckButton,
#loginButton,
#signUpButton {
    padding-top: 8px;
    padding-bottom: 8px;
}

.rightContainer #h4Reset,
#midScreenCheckButton,
#loginButton,
#signUpButton {
    cursor: pointer;
}


.rightContainer #h4Reset {
    box-shadow: 0px 0px 5px 0px rgba(9, 9, 226, 0.75);
}

.rightContainer #h4Reset:hover {
    background-color: #b3e3e8;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.startScreenContainer {
    background-color: #d4c4a9;
    width: auto;
    height: 300px;
    margin: 20px;
}

#midScreenIcon,
#midScreenIcon_no_margin {
    height: 75px;
}

#midScreenIcon {
    margin-left: 1.5rem;
}

#midScreenInputText,
#loginUsername,
#loginPassword,
#signupUsername,
#signupPassword,
#signupConfirmPassword {
    border: none;
    padding: 10px;
}

#midScreenCheckButtonm,
#loginButton,
#signUpButton {
    font-size: smaller;
    font-weight: lighter;
    background-color: #5eac31;
    box-shadow: 0px 0px 5px 0px rgba(77, 143, 38, 0.75);
}

#midScreenCheckButton:hover,
#loginButton:hover,
#signUpButton:hover {
    background-color: #7ebd42;
}



#signUpButton {
    background-color: #3A89C9;
    box-shadow: 0px 0px 5px 0px rgba(58, 137, 201, 0.75);
}

#signUpButton:hover {
    background-color: #4CA7E8;
    box-shadow: 0px 0px 5px 0px rgba(76, 167, 232, 0.75);
}




#midScreenCheckButton,
#midScreenMessageArea,
#loginButton,
#signUpButton {
    color: white;
}


.startScreenChild {
    margin-bottom: 10px;
}


.bottomRowContainer {
    align-self: center;
    width: 60%;
    margin-bottom: 25px;
    margin-top: 10px;
}

.you_won {
    background-color: #d1f2e6;
}

.you_won p,
.you_lost p {
    margin: 0 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.hide_this {
    display: none;
}

.unvisible_this {
    visibility: hidden;
}

.secretNumber,
.largerFont {
    font-weight: bold;
    font-size: larger;
}

.lostFontStyle {
    color: #685848;
}


.dontHaveAnAccount {
    font-size: smaller;
}

.spanSignUpLogin {
    text-decoration: underline;
    cursor: pointer;
}

.signup_login_area {
    width: 50%;
}

.signup_login_area_mid {
    width: 95%
}

.signup_login_area_start {
    margin: 10px;
}