body {
    font-family: Arial, Helvetica, sans-serif;
}


body,
.bottomRowContainer {
    background-color: #e0e0e0;
}

#editBest,
.titleAreaContainer h1,
.titleAreaContainer h3,
#h4Score,
.startScreenContainer,
#midScreenInputText,
#loginUsername,
#loginPassword,
#signupUsername,
#signupPassword,
#signupConfirmPassword,
.you_won {
    text-align: center;
}


.titleAreaContainer h1,
.titleAreaContainer h3,
#h4Score {
    margin-bottom: 0;
}


.titleAreaContainer h1 {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.titleAreaContainer h3,
#h4HighScore {
    margin-top: 5px;
}


.middleAreaContainer,
.bottomRowContainer,
.startScreenContainer {
    box-shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.493);
}


.middleAreaContainer,
.topRowContainer,
.leftContainer,
.rightContainer,
.midRowContainer,
.startScreenContainer,
.bottomRowContainer {
    display: flex;
}

.leftContainer,
.rightContainer,
.startScreenContainer,
.bottomRowContainer {
    align-items: center;
    justify-content: center;
}

.middleAreaContainer,
.leftContainer,
.midRowContainer,
.startScreenContainer {
    flex-direction: column;
}


.midRowContainer {
    width: 80%;
    align-self: center;
}

.middleAreaContainer,
#midScreenInputText {
    background-color: #f7f7f7;
}

.middleAreaContainer {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    height: auto;
}

.middleAreaContainer,
.leftContainer,
.rightContainer h4,
.startScreenContainer,
#midScreenInputText,
#loginUsername,
#editBest,
#loginPassword,
#signupUsername,
#signupPassword,
#signupConfirmPassword,
.bottomRowContainer {
    border-radius: 15px;
}

#resetButton,
#loginButton,
#signUpButton,
#deleteAccountButton {
    border: none;
}

#resetButton,
#midScreenCheckButton,
#loginButton,
#signUpButton,
#deleteAccountButton {
    border-radius: 10px;
}


.topRowContainer {
    justify-content: space-between;
    padding: 10px;
}

.leftContainer,
.topRowContainer .rightContainer h4 {
    background-color: #a8d0e6;
}

#resetButton,
.leftContainer,
.rightContainer h4,
#midScreenCheckButton,
#loginButton,
#signUpButton,
#deleteAccountButton {
    padding-left: 15px;
    padding-right: 15px;
}

.topRowContainer .h4HighScore {
    margin-top: 5px;
}

.leftContainer,
.rightContainer h4 {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.rightContainer #h4Reset {
    padding-top: 15px;
    padding-bottom: 15px;
}

#resetButton,
#midScreenCheckButton,
#loginButton,
#signUpButton,
#deleteAccountButton {
    padding-top: 8px;
    padding-bottom: 8px;
}

#resetButton,
.rightContainer #h4Reset,
#midScreenCheckButton,
#loginButton,
#deleteAccountButton,
#signUpButton,
#currenUserLogout {
    cursor: pointer;
}


.rightContainer #h4Reset {
    box-shadow: 0px 0px 5px 0px rgba(9, 9, 226, 0.75);
}

.rightContainer #h4Reset:hover {
    background-color: #b3e3e8;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.startScreenContainer {
    background-color: #d4c4a9;
    width: auto;
    height: 300px;
    margin: 20px;
}

#midScreenIcon,
#midScreenIcon_no_margin {
    height: 75px;
}

#midScreenIcon {
    margin-left: 1.5rem;
}

#midScreenInputText,
#loginUsername,
#editBest,
#loginPassword,
#signupUsername,
#signupPassword,
#signupConfirmPassword {
    border: none;
    padding: 10px;
}

#midScreenCheckButton,

#resetButton,
#deleteAccountButton,
#loginButton,
#signUpButton {
    font-size: smaller;
    font-weight: lighter;
    background-color: #5eac31;
    box-shadow: 0px 0px 5px 0px rgba(77, 143, 38, 0.75);
}

#midScreenCheckButton:hover,
#loginButton:hover,
#signUpButton:hover {
    background-color: #7ebd42;
}

#signUpButton {
    background-color: #3A89C9;
    box-shadow: 0px 0px 5px 0px rgba(58, 137, 201, 0.75);
}

#signUpButton:hover {
    background-color: #4CA7E8;
    box-shadow: 0px 0px 5px 0px rgba(76, 167, 232, 0.75);
}


#deleteAccountButton {
    background-color: #E74C3C;
    box-shadow: 0px 0px 5px 0px rgba(231, 76, 60, 0.75);
}

#deleteAccountButton:hover {
    background-color: #EA6153;
    box-shadow: 0px 0px 5px 0px rgba(234, 97, 83, 0.75);
}

#resetButton {
    background-color: #F39C12;
    box-shadow: 0px 0px 8px 2px rgba(243, 156, 18, 0.85);
    ;
}

#resetButton:hover {
    background-color: #F5A623;
    box-shadow: 0px 0px 10px 3px rgba(245, 166, 35, 0.85);
}

#resetButton,
#midScreenCheckButton,
#midScreenMessageArea,
#loginButton,
#signUpButton,
#deleteAccountButton {
    color: white;
}


.startScreenChild {
    margin-bottom: 10px;
}


.bottomRowContainer {
    align-self: center;
    width: 60%;
    margin-bottom: 25px;
    margin-top: 10px;
}

.you_won {
    background-color: #d1f2e6;
}

.you_won p,
.you_lost p {
    margin: 0 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.hide_this {
    display: none;
}

.unvisible_this {
    visibility: hidden;
}

.secretNumber,
.largerFont,
.error {
    font-weight: bold;
    font-size: larger;
}

.lostFontStyle {
    color: #685848;
}


.dontHaveAnAccount {
    font-size: smaller;
}

.spanSignUpLogin {
    text-decoration: underline;
    cursor: pointer;
}

.signup_login_area {
    width: 50%;
}

.signup_login_area_mid {
    width: 95%
}

.signup_login_area_start {
    margin: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#userImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#userImage img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #333;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#userImage:hover img {
    border-color: #ff9900;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#userImage:hover .arrow-down {
    transform: scale(1.5);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    margin-top: 3px;
}

#userMenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 5px;
    /* Add border-radius to match image */
    border: 2px solid #333;
    width: 200px;
    list-style-type: none;
    /* Removes bullet points */
    padding: 0;
    /* Removes empty space before list items */
    margin: 0;
    /* Removes empty space before list items */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#userMenu:hover {
    border-color: #ff9900;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#userMenu li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    user-select: none;
}

#userMenu li:last-child {
    border-bottom: none;
}

#userMenu li:hover {
    background-color: #f1f1f1;
}

#userMenu #currentUserAccount,
#userMenu #currenUserLogout {
    color: #ffffff;
    background-color: #ff7a7a;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

#userMenu #currentUserAccount {
    background-color: #3A89C9;
}

#userMenu #currentUserAccount:hover {
    background-color: #2F6FAB;
}

#userMenu #currenUserLogout:hover {
    background-color: #ff5959;
}

#currentUserName,
#currentUserHighScoreNumber {
    font-size: large;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

#currentUserHighScoreNumber {
    font-style: italic;
}

#currentUser,
#currentUserHighScore {
    font-size: medium;
    font-weight: lighter;
}

.grayOut {
    background-color: rgba(245, 245, 245, 0.831);
    pointer-events: none;
}

#editBest {
    width: 20%
}

#update_error,
#update_success {
    margin-top: 1%;
    text-align: center;
}

#homeH3 {
    cursor: pointer;
    color: #3A89C9;
    text-decoration: underline;
    margin-top: 1%;
}

#homeH3:hover {
    color: #2F6FAB;
    text-decoration: underline;
}